@import './variables.scss';

.secondary-background-color {
  background-color: $secondary-color;
}

.secondary-background-color-light {
  background-color: $secondary-color-light;
}

.main-background-dark-color {
  background-color: $main-color-dark;
}

.main-background-color {
  background-color: $main-color;
}

.text-secondary-color-dark {
  color: $secondary-color-dark;
}

.surface-color {
  background-color: $surface-color;
}
