// colors
$secondary-color: #CDCCCC;
$secondary-color-light: #E6E6E5;
$secondary-color-dark: #737373;

$main-color: #F8C766;
$main-color-light: #F8E8A2;
$main-color-dark: #E8BA5E;

$surface-color: #FFFFFF;


// borders
$border-radius: 3px;



