// colors
$secondary-color: #CDCCCC;
$secondary-color-light: #E6E6E6;
$secondary-color-dark: #9c9b9b;

$main-color: #e8ba5e;
$main-color-light: #ffec8e;
$main-color-dark: #b38a30;

$surface-color: #FFFFFF;


// borders
$border-radius: 3px;



