.h1Heading {
  font-size: 32px;
  font-weight: bold;
}

.h2Heading {
  font-size: 28px;
  font-weight: bold;
}

.h3Heading {
  font-size: 24px;
  font-weight: normal;
}

.h4Heading {
  font-size: 20px;
  font-weight: normal;
}

.h5Heading {
  font-size: 18px;
  font-weight: normal;
}

.h6Heading {
  font-size: 13px;
  font-weight: normal;
}



